* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 { margin-bottom: 1rem; }

article {
  display: block;
  margin: 0 auto;
  max-width: 1920px;
  padding: 5vw;
}

img {
  display: block;
  width: 100%;
}

.grid__item {
  display: inline-block;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .grid__item {
    width: 49%;
  }
}

@media screen and (min-width: 1024px) {
  .grid__item {
    width: 32.5%;
  }
}
